*{
    font-family:'Trebuchet MS';
}

body, ul, li{
    margin:0;
    padding:0;
}
p, li, h1, h2, h3, h4{
    color:#4e4e4e;
}
.wrapper{
    width:96%;
    max-width:1200px;
    margin:0 auto;
    padding:0 2%;
}

header{
    background:#e5e5e5;
    padding:5px 0;

}
header h1{
    margin:0;
    text-indent:-10000px;
    background: url(../images/heading_logo.png) no-repeat;
    width:130px;
    float:left;
    height:74px;
}
header nav{
    float:right;
    padding:20px 0;
}

header:after{
    display:block;
    content:"";
    clear:both;
}
header nav h2{
    line-height:0;
    margin:0;
    text-indent:-10000px;
}

header nav li{
    list-style-type:none;
    float:left;
    margin-left:20px;
    margin-top:10px;
}

header nav li a{
    text-decoration:none;
    color:#4e4e4e;
    text-transform:uppercase;
    font-weight:bold;
}
header nav li a.current{
    color:#1abb9c;
}
header nav li a:hover{
    color:red;
}
#main-banner img{
    width:100%;
}

#main-banner{
    max-height:500px;
    overflow:hidden;
}
#selling-point li{
    float:left;
    width:23%;
    padding:1%;
    text-align:center;
    list-style-type: none;
    line-height:1.6em;

}

#selling-point:after{
    display:block;
    content:"";
    clear:both;
}
#latest-work{
    padding-top:30px;
    margin-top:30px;
    border-top:2px solid #e4e4e4;
}
#latest-work h2{
    text-transform:uppercase;
    font-size:20px;
    margin-bottom:40px;
}
#latest-work li{
    float:left;
    list-style-type: none;
    width:32%;

}
#latest-work img{
    width:75%;
}
#latest-work li:nth-child(2){
    margin:0 2%;
}
#latest-work:after{
    display:block;
    content:"";
    clear:both;
}
#latest-work h3{
    margin-bottom:0;
}
#latest-work p{
    line-height:1.6em;
}
p.tags{
    color:#abb;
    font-size:14px;
    margin-top:15px;
}

#quote{
    margin-top:60px;
    width:60%;
    padding:40px 20%;
    background-color:#efefef;
    color:#4e4e4e;
    font-size:20px;
    line-height:1.60em;
    text-align:center;
}
blockquote img.qimage{
    width:20px;
}

footer{
    background:#202020;
    padding:30px 0;
    border-top:10px solid #151515;

}
footer h4{
    margin:0;
    color:#555;
    text-transform: uppercase;
    font-size:18px;
}
footer ul{
    float:left;
    width:25%;
    list-style-type:none;
}
footer:after{
    content:"";
    display:block;
    clear:both;
}
footer li{
    color:#aaal
    width:80%;
    margin:20px 0;
    font-size:14px;
    line-height:1.6em;
}

#footer-bottom{
    padding:30px 0;
    width:100%;
    margin:30px 0;
    float:left;
    color:#4e4d4d;
    border-top:2px solid #4e4d4d;
}



@media screen and (max-width:960px){
    #selling-point li{
        width:40%;
        padding:0 5%;
        margin:20px 0;
    }

    footer ul{
        width:50%;
    }

    footer ul:nth-child(odd){
        clear:both;
    }
    #quote{
        width:90%;
        padding:40px 5%;
    }

}

@media screen  and (max-width:768px){
    header nav{
        float:none;
    }
    header nav li{
        margin-left:0;
        width:16.66%;
        text-align:center;
        font-size:14px;
    }
    header h1.logo{
        float:none;
        margin: auto 0 15px;
    }

    #latest-work li{
        width:60%;
        margin:30px 20% !important;
    }
    #latest-work h2{
        text-align:center;
    }
}

@media screen and (max-width:480px){
    #selling-point li{
        width:80%;
        padding:0 10%;
        margin:20px 0;
    }
    #latest-work{
        width:80%;
        margin:30px 10% !important;
    }

    #quote{
        font-size:16px;
        font-weight:bold;
        text-align: center;
    }
   

    footer ul{
        width:100%;
        float:none;
        border-top:2px solid  #333;
    }

    header nav li{
        float:none;
        width:80%;
        margin:0;
        height:30px;
        padding: 0 10%;
    }
    header nav{
        background:#555;
    }
    header .wrapper{
        padding:0;
        width:100%;
    }
    header{
        padding-bottom:0;
    }
    header nav li a{
        display:block;
        text-align:center;
        padding:10px;
        color:#999;
        border-top:1px solid #999;
    }

    #burger-nav{
        width:100%;
        height:40px;
        background: url(../images/month.png) no-repeat 98% center;
    }

    header nav ul{
        height:0;
        overflow:hidden;

    }
    .open{
        height:auto;
        overflow:visible;
    }


}
